APP_ENV=development
BACKEND_URL=http://localhost:8000
FRONTEND_URL=http://localhost:5500
MONGODB_URI=mongodb://localhost:27017
MONGODB_DATABASE=chatbot_db
JWT_SECRET=supersecretkey_change_in_production
JWT_ALGORITHM=HS256
JWT_EXPIRATION=1440
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD_HASH=1234
AI_PROVIDER=gemini
AI_API_KEY=YOUR_GEMINI_API_KEY_HERE